<%- include('./includes/admin-pages-header.ejs') %>

    <!-- CONTAINER  -->
    <div class="mainContent" style="overflow-x:auto;">
        <!-- header  -->

        <div class="table">
            <div class="row bg-1">
                <div class="cell cell-100 text-center text-fff">
                    <h2>Detail Data</h2>
                </div>
            </div>
        </div>

        <div class="inputSearch">
            <input type="text" id="myInput" onkeyup="cari_data()" placeholder="cari nama laporan ..." title="Type in a name">
        </div>

        <div class="tableFixHead">
            <table width="100%" border="0" cellspacing="0" cellpadding="6" id="myTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PIC</th>
                        <th>No Odner</th>
                        <th>Nama Dokumen</th>
                        <th>No Dokumen</th>
                        <th>Nama Laporan</th>
                        <th>Halaman</th>
                        <th>Tahun</th>
                        <th>Keterangan</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i =0; i<dokumen.length; i++) {%>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= dokumen[i].pic%>
                            </td>
                            <td>
                                <%= dokumen[i].no_odner%>
                            </td>
                            <td>
                                <%= dokumen[i].nama_dokumen%>
                            </td>
                            <td>
                                <%= dokumen[i].no_dokumen%>
                            </td>
                            <td>
                                <%= dokumen[i].nama_laporan%>
                            </td>
                            <td>
                                <%= dokumen[i].halaman%>
                            </td>
                            <td>
                                <%= dokumen[i].tahun%>
                            </td>
                            <td>
                                <%= dokumen[i].keterangan%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>

    </div>
    </div>
    </div>
    <!-- END CONTAINER  -->

    <%- include('./includes/admin-pages-footer.ejs') %>